---
layout: default
---

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for post in site.posts %}
  <div class="col">
    <div class="blog-card h-100">
      <div class="card-body">
        <div class="blog-date">
          <span class="badge bg-light text-dark">{{ post.date | date: "%b %d, %Y" }}</span>
        </div>
        <h4 class="blog-title">{{ post.title }}</h4>
        <div class="blog-excerpt">
          {{ post.excerpt | strip_html | truncatewords: 25 }}
        </div>
        
        {% if post.content contains '<!-- more -->' %}
        <div class="text-center">
          <a href="#post-{{ forloop.index }}" class="read-more-btn btn btn-outline-primary" data-bs-toggle="collapse" aria-expanded="false" aria-controls="post-{{ forloop.index }}">
            Read More <i class="fas fa-chevron-right ms-1"></i>
          </a>
        </div>
        
        <div class="collapse mt-4" id="post-{{ forloop.index }}">
          <div class="post-content">
            {{ post.content | split:'<!-- more -->' | last }}
            
            <div class="text-end mt-4">
              <a href="#post-{{ forloop.index }}" class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse" aria-expanded="true" aria-controls="post-{{ forloop.index }}">
                <i class="fas fa-times me-1"></i> Close
              </a>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
