    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Zack Design" height="51" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="https://isaacrowntree.com">Isaac Rowntree</a>
            </li>
          </ul>
          <ul class="navbar-nav navbar-right">
            <li><a href="mailto:isaac@zackdesign.biz" class="nav-link mr-3"><i class="fa fa-envelope"></i> Email</a></li>
            <li><a href="https://zackdesign.uservoice.com/" class="nav-link"><i class="fa fa-support"></i> Support</a></li>
          </ul>
        </div>
      </div>
    </nav>
